#header {
    height: 20vh;
    width: 100%;
    background-color: rgb(60, 60, 60);
    position: absolute; 
    z-index: 4;
}

#leftSide {
    height: 100%;
    width: 15vw;
    background-color: silver;
    position: absolute;
    left: 0px;
    z-index: 3;
}

#rightSide {
    height: 100%;
    width:15vw;
    background-color: silver;
    position: absolute;
    right: 0px;
    z-index: 2;
}

#footer {
    height: 10vh;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}